:root {
  --color-bg-dark: #f4f4f4;
  --color-bg: #fff;
  --color-point: #0c84fe;
  --color-trash: #0074ea;
  --color-text: #000;
}

html.dark {
  --color-bg-dark: #001830;
  --color-bg: #091d30;
  --color-point: #ebebeb;
  --color-trash: #ebebeb;
  --color-text: #fff;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
