.wrapper {
  background-color: #e5e5ea;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-text);
}

.container {
  background-color: var(--color-bg);
  width: 400px;
  border-radius: 10px;
  box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.1);
}

.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  background-color: var(--color-bg-dark);
  border-bottom: 1px solid #e1e1e1;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.mode {
  border: none;
  background: transparent;
  cursor: pointer;
}

.mode > svg {
  color: var(--color-point);
}

.filter {
  display: flex;
  list-style: none;
}

.filter li {
  margin-left: 10px;
  cursor: pointer;
  color: var(--color-point);
  font-weight: 600;
}

.form {
  padding: 20px 0;
  background-color: var(--color-bg-dark);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.form > input {
  width: 280px;
  height: 36px;
  border: none;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  padding: 0 0 0 10px;
  outline: none;
}

.form > button {
  border: none;
  background: #0c84fe;
  color: #fff;
  width: 80px;
  height: 36px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.bb {
  border-bottom: 2px solid;
}
